.cabecera {
	background-image: url("./images/fondocabecera1.png");
	background-repeat: repeat-x;  
}

body{
	background-color: #fef0b3;
	margin: 0;
	padding: 0;
	font-size: 30px;
}

body .body2{
	background-color: #fef0b3;
	margin: 0;
	padding: 0;
	font-size: 22px;
}


.titulonoticia{
	font-size: 250%;
	margin-top: 2%;
	margin-bottom: -5%;
}

.titulonoticia2{
	font-size: 250%;
}

h1 .titulocartoetsa{
/*color: #800000;*/
font-size: 250%;
color:white;
}

.titulocartoetsa2{
	/*color: #800000;*/
	font-size: 250%;
	margin-bottom: 2%;
	margin-top: 2%;
	}
a .enlaces20 {
	color:black;
}

a .enlaces10 {
	color: #800000;
	text-decoration: underline;
}

a:hover {
	color:#0000A0;     /*(#4a0000;)*/
	text-decoration: underline;
}

table .tabla10 {

	border: solid 1px;
	max-height: 500px;
	max-height: 500px;
	background-color: blue;
	align-content: center;
	
}

tr {
	border: solid 1px;
}

.texto-borde {
	-webkit-text-stroke: 2px green;
	color: transparent; 
  }

.logo{
	height: 80%; 
    border:ridge;  
    border-radius: 100%;
}

.provincia_sevilla {
	text-decoration: underline;
}

.provincia_cadiz {
	text-decoration: underline;
}

.provincia_malaga{
	text-decoration: underline;
}

.provincia_huelva{
	text-decoration: underline;
}

.provincia_cordoba{
	text-decoration: underline;
}

.provincia_jaen{
	text-decoration: underline;
}

.provincia_almeria {
	text-decoration: underline;
}

.provincia_granada {
	text-decoration: underline;
}

.principal_sevilla {
	background-color: #D67229;
	font-size: medium;
	color: black;
	/*background-color: black; */
	/*color: white;*/
	font-weight: 750;
	text-align: center;
	margin-bottom: 5%;
}

.principal_cadiz {
	background-color: #3378ae;
	font-size: medium;
	color: black;
	/*background-color: black; */
	/*color: white; */
	text-align: center;
	font-weight: 750;
	margin-bottom: 5%;
}

.principal_malaga {
	background-color: #f9db4a;
	font-size: medium;
	color: black;
	/*background-color: black; */
	/*color: white;*/
	font-weight: 750;
	text-align: center;
	margin-bottom: 5%;
}

.principal_granada {
	background-color: rgba(108, 200, 17,0.8);
	font-size: medium;
	color: black;
	/*background-color: black; */
	/*color: white;*/
	font-weight: 750;
	text-align: center;
	margin-bottom: 5%;
}

.principal_almeria {
	background-color: #b4806d;
	font-size: medium;
	color: black;
	/*background-color: black; */
	/*color: white;*/
	font-weight: 750;
	text-align: center;
	margin-bottom: 5%;
}

.principal_cordoba {
	background-color: #779ecb;
	font-size: medium;
	color: black;
	/*background-color: black; */
	/*color: white;*/
	font-weight: 750;
	text-align: center;
	margin-bottom: 5%;
}

.principal_jaen {
	background-color: #9b111e;
	font-size: medium;
	color: black;
	/*background-color: black; */
	/*color: white;*/
	font-weight: 750;
	text-align: center;
	margin-bottom: 5%;
}

.principal_huelva {
	background-color: #e0d8b0;
	font-size: medium;
	color: black; 
	font-weight: 750;
	/*background-color: black; */
	/*color: white;*/
	text-align: center;
	margin-bottom: 5%;
}

.pueblo_sevilla {
	/*background-color:orangered;*/
	background-color:rgba(250, 193, 94,0.65);
	margin-bottom: 5%;
}

.pueblo_cadiz {
	/*background-color: #3378ae;*/
	background-color: #2898ee;
	margin-bottom: 5%;
}

.pueblo_malaga {
	background-color: #f9ff4a;
	margin-bottom: 5%;
}

.pueblo_granada {
	background-color: #aef359;
	margin-bottom: 5%;
}

.pueblo_almeria {
	background-color: #b97c4a;
	margin-bottom: 5%;
}

.pueblo_cordoba {
	background-color: #6165d2;
	margin-bottom: 5%;
}

.pueblo_cordoba2 {
	background-color: #6165d2;
	width: 100%;
}

.pueblo_jaen {
	background-color: #c63637;
	margin-bottom: 5%;
}

.pueblo_huelva {
	/*background-color: #556b2f;*/
	background-color: rgba(108, 174, 17,0.65);
	margin-bottom: 5%;
}

.enlaces{
	background-color: rgba(255,255,255,0.72);
	height: 8%;
	width: 8%;
}

.enlaces_peques{
	margin:0;
	padding:0;
}

td .td10{
	border:solid 1px;
	text-indent: 10px;
	font-size:10%
}

td .td20{
	text-indent: 10px;
	
}

 .icon{
 	color:black;
 }

img{
	max-width: 85%;
	max-height: 85%;
}



.mapa2 {
   height: 50%; 
   width: 50%;
   margin-top: 5%;
   /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/Bandera_de_Andalucia.svg");
   background-position: 120%;*/
}

.opacidad{
   opacity: 0.2;
}


.logo{
   height: 80%; 
   border:ridge; 
   border-radius: 100%;
}


/**************************************************************************************************************************/
